:root {
  --primary: #8d9c98;
  --secondary: lightcoral;
  --text--color: white;
  --project--text: #526660;
  --link--color: rgba(255, 255, 255, 0.562);
  --btn--color: rgb(245, 181, 181);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}

body {
  background-color: var(--primary);
  color: var(--text--color);
}

header {
  background-color: var(--secondary);
  align-items: center;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1 {
  color: var(--text--color);
  font-size: 150%;
  margin-bottom: 0px !important;
  margin-left: 10px;
  font-weight: bold;
}

h2, h3 {
  font-size: 125%;
}

#root {
  position: relative;
  min-height: 100vh;
}

/*form styling for the contact page*/
input, textarea {
  width: 100%;
}

.custom-btn {
  background: var(--btn--color);
  color: var(--text--color);
}

.custom-btn:hover {
  background: var(--secondary);
}

/*styling for the header and navigation based off the class names.*/
.right-nav {
  float: right;
}

.custom-nav {
  color: var(--text--color);
  font-weight: bold;
}

.custom-nav:focus {
  color: var(--primary);
}

.custom-nav:hover {
  color: var(--text--color);
}

.active.custom-nav:hover {
  color: var(--primary);
}

/*about me image styling*/
/*went to https://stackoverflow.com/questions/51447317/image-height-same-as-width to figure out how to have the height and width be the same.*/
.profile-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

/*footer class styling*/
.footer-img-links {
  max-width: 5%;
  height: auto;
}

/*styles for project page classes*/
.project-image {
  max-width: 100%;
  aspect-ratio: 3 / 2;
}

.project-info {
  visibility: hidden;
  color: var(--project--text)
}

.project-title {
  font-size: 120%;
  position: absolute;
  bottom: 150px;
  left: 25px;
  text-decoration: none;
  color: var(--project--text)
}

.project-description {
  position: absolute;
  bottom: 35px;
  left: 25px;
}

.project-git {
  width: 33px;
  aspect-ratio: 1 / 1;
}

.project-link {
  position: relative;
}

.project-link:hover .project-info {
  visibility: visible;
}

.project-link:hover .project-image {
  mix-blend-mode: overlay;
}

.project-background {
  background-color: transparent;
}

.project-link:hover .project-background {
  background-color: var(--link--color);
}

/*styling for the resume page*/
.download-link {
  color: var(--btn--color);
  text-decoration: none;
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
